<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>manager_dashboard</title>
</head>
<body>
      <button onclick="location.href='/mangars/getList'">get List</button>
      <button onclick="location.href='/mangars/pattern'">check pattern</button>
      <button onclick="location.href='/mangars/unresolved'">check unresolved tickets</button>
      <button onclick="location.href='/mangars/summary'">check summanry</button>
</body>
</html>