<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>manager_dashboard</title>
</head>
<body>
      <button>check pattern</button>
      <button>check unresolved tickets</button>
      <button>check summanry</button>
</body>
</html>