<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/unresolved_style.css">
  <title>Ticket List</title>
</head>

<body>

<h2>Unresolved Tickets</h2>

<div class="container">

  <% list.forEach(ticket => { %>
    
    <div class="card">
      
      <div class="field">
        <span class="label">Customer:</span>
        <span class="value"><%= ticket.customername %></span>
      </div>

      <div class="field">
        <span class="label">Product:</span>
        <span class="value"><%= ticket.productname %></span>
      </div>

      <div class="field">
        <span class="label">Category:</span>
        <span class="value"><%= ticket.category %></span>
      </div>

      <div class="field">
        <span class="label">why:</span>
        <span class="value">
          <%= ticket.issue %>
        </span>
      </div>

    </div>

  <% }) %>

</div>

</body>
</html>